.text-area .content{
  -fx-background-color: #FFFFFF;
  -fx-text-fill: #FFFFFF;
  -fx-prompt-text-fill: #FFFFFF;
  -fx-highlight-fill: #FFFFFF;
  -fx-highlight-text-fill: #FFFFFF;

}

.text-flow  {
    -fx-background-color: #333333;
    -fx-text-fill: #FFFFFF;
}
